body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}

a {
    color: #333;
}

h1, h3, p, li, label {
    font-weight: 200;
}

h2 {
    font-weight: 200;
    font-size: 48px;
    margin: 0;
}

#content {
    margin-top: 16px;
    padding: 8px;
}
