.thumbnail {
    max-width: 400px;
    width: 100%;
    height: 225px;
    float: left;
    margin-right: 32px;
    margin-bottom: 52px;
    position: relative;

    text,
    form,
    p {
        display: none;
    }

    h2 {
        position: absolute;
        left: 0;
        bottom: -32px;
        right: 0;
        padding: 4px;
        font-size: 20px;
        margin: 0;
        background: rgba(240, 240, 240, 0.6);
    }

}

.inner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0.1;
    pointer-events: none;
}
