#navigation {
    &:after {
        display: block;
        clear: both;
        content: '';
    }

    padding: 8px;
    border-bottom: 1px solid #333;

    h1 {
        float: left;
        margin: 0 24px 0 0;
        font-size: 32px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            float: left;
            margin-right: 8px;
            margin-top: 8px;
            a {
                background-color: #eee;
                border-radius: 6px;
                font-size: 20px;
                padding: 8px;
                font-weight: 200;
                text-decoration: none;
                &:hover {
                    background-color: white;
                }
                &:active {
                    background-color: #ddd;
                }
            }
        }
    }
}
