.population_pyramid {

    position: relative;

    &.fullsize {
        width: 960px;
        height: 500px;
        .inner {
            top: 20px;
            right: 40px;
            bottom: 30px;
            left: 20px;
        }
    }

    svg {
      font: 10px sans-serif;
    }

    .y.axis path {
      display: none;
    }

    .y.axis line {
      stroke: #fff;
      stroke-opacity: .2;
      shape-rendering: crispEdges;
    }

    .y.axis .zero line {
      stroke: #000;
      stroke-opacity: 1;
    }

    .title {
      font: 300 78px Helvetica Neue;
      fill: #666;
    }

    .birthyear,
    .age {
      text-anchor: middle;
    }

    .birthyear {
      fill: #fff;
    }

    rect {
      fill-opacity: .6;
      fill: #e377c2;
    }

    rect:first-child {
      fill: #1f77b4;
    }

    button {
        font:inherit;
        background-color: #eee;
        border: 0;
        border-radius: 6px;
        font-size: 16px;
        padding: 8px;
        font-weight: 200;
        text-decoration: none;
        cursor:pointer;
        &:focus {
            outline:0;
        }
        &:hover {
            background-color: white;
        }
        &:active {
            background-color: #ddd;
        }
    }
}
