.stacked_to_grouped {
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;

    &.fullsize {
        width: 960px;
        height: 500px;
        .inner {
            top: 40px;
            right: 10px;
            bottom: 20px;
            left: 10px;
        }
    }

    text {
        font: 10px sans-serif;
    }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    button: {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}
