<h2>Bubble Chart</h2>
<p>
Bubble charts encode data in the area of circles. Although less perceptually-accurate than bar charts, they can pack hundreds of values into a small space. Implementation based on work by Jeff Heer. Data shows the Flare class hierarchy, also courtesy Jeff Heer.
</p>
<p>
<a href="http://bl.ocks.org/mbostock/4063269">Source</a>
</p>
<form>
    <label><input type="radio" name="mode" value="a" checked>Colour scheme A</label>
    <label><input type="radio" name="mode" value="b">Colour scheme B</label>
    <label><input type="radio" name="mode" value="c">Colour scheme C</label>
</form>
