<h2>Cluster Dendrogram</h2>
<p>A dendrogram is a node-link diagram that places leaf nodes of the tree at the same depth. In this example, the classes (leaf nodes) are aligned on the right edge, with the packages (internal nodes) to the left. Data shows the Flare class hierarchy, courtesy Jeff Heer.</p>
<p><a href="http://bl.ocks.org/mbostock/4063570">Source</a></p>
<form>
    <label><input type="radio" name="mode" value="cartesian" checked>Cartesian</label>
    <label><input type="radio" name="mode" value="radial">Radial</label>
</form>
