<h2>Population Pyramid</h2>
<p>This diagram shows the distribution of age groups in the United States over the last 150 years. Use the arrow keys to observe the changing population. Data from the Minnesota Population Center. Use the arrow keys to change the displayed year. The blue bars are the male population for each five-year age bracket, while the pink bars are the female population; the bars are partially transparent so that you can see how they overlap, unlike the traditional side-by-side display which makes it difficult to compare the relative distribution of the sexes.</p>
<p><a href="http://bl.ocks.org/mbostock/4062085">Source</a></p>
<form>
  <button name="previous">Previous period</button>
  <button name="next">Next period</button>
</form>
