<h2>Stacked-to-Grouped Bars</h2>
<p>Switch between stacked and grouped layouts using sequenced transitions. Animations preserve object constancy and allow the user to follow the data across views. Animation design by Heer and Robertson. Colors and data generation inspired by Byron and Wattenberg.</p>
<p><a href="http://bl.ocks.org/mbostock/3943967">Source</a></p>
<form>
  <label><input type="radio" name="mode" value="grouped"> Grouped</label>
  <label><input type="radio" name="mode" value="stacked" checked> Stacked</label>
</form>
